.footer{
    width: 1260px;
    margin: auto;
}
.footer-top{
    padding: 30px 10px;
    width: 1240px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
}
.footer-top ul{
    display: flex;
    justify-content: center;
}
.footer-top ul li{
    cursor: pointer;
    width: 150px;
    text-align: center;
    
}
.footer-top ul li img{
    width: 50px;
    height: 39px;
    display: block;
    margin: 0 auto;
}
.footer-top ul li span{
 font-size: 12px;
 color: #999;
}
.footer-top div {
    text-align: right;
}
.footer-top div p{
    font-size: 12px;
    color: #999;
}
.footer-top div h3{
    font-size: 25px;
    line-height: 40px;
    font-weight: normal;
    color: #008cff;
}
.footer-top div span{
    display: inline-block;
    width: 88px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
    background: #008cff;
}
.nav-bottom{
    margin: 20px 0;
    width: max-content;
    display: flex;
    justify-content: center;
}
.nav-bottom li{
 
    padding: 0 20px;
    border-right: 1px #ccc solid;
    box-sizing: border-box;

}
.first{
    margin-left: -20px;
}
.nav-bottom li a{
    height: 18px;
    line-height: 18px;
   font-size: 12px;
   color: #999;
}

.nav-bottom li a:hover{
   
    color: dodgerblue;
}
.footer p{
    display: flex;

    color: #999;
    font-size: 12px;
    margin-bottom: 20px;
}
.footer p a{
    margin: 0 5px;
    color: #999;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.footer p a:hover{
   
   color: dodgerblue;
}

.footer p a img{

    margin-top: 2px;
  width: 14px;
  height: 18px;
}
.footer  .send{   
    display: flex;
}
.send img{
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}